.header {}

    .header div {}

    .header li {}

.front {}

    .container {}

        h1 {}

        p{}

        .container button {}

    .front img {}

.body {}

    .content {}

        .info {}

            .info img {}

            .text {}

.testimonial {}

    .quote {}

    .quote.source {}

.cta {}

    .text {}

    .text .text-head {}

.button {}

.footer {}
