body {
}

.top-page {
    background-color: #1f2937;
    color: white;
}



.header {
    display: flex;
    padding: 20px;
    
}

    .logo {
        margin-left: 5%;
        font-size: 24px;
        color: #F9FAF8;
    }

    .links {
        margin-left: auto;
        margin-right: 5%;
    }

    a {
        text-decoration: none;
        color: white;
        margin: 10px;
    }

.front {
    border-width: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px;
    gap: 100px;
}

    .container {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        min-width: 300px;
        flex-shrink: 0;
    }

        h1 {
            color: #F9FAF8;
            font-size: 48px;
            font-weight: 900;
            margin: 0;
            padding: 0;
        }

        p{
            font-size: 18px;
            color: #E5E7EB;
        }

        .container button {
            align-self: flex-start;
            background-color: #3882F6;;
            border-radius: 5px;
            border-color: rgb(63, 115, 230);
            font-size: 18px;
            color: #E5E7EB;
            width: 85px;
        }

    .front img {
        padding: 150px;
        background-color: rgb(214, 199, 199);
    }

.body {
    text-align: center;
}

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 80px;
        
    }
    h2 {
        font-size: 36px;
        font-weight: 900;
        color: #1F2937;
    }
    .info {
        max-width: 400px;
    }
        .info img {
            border: solid blue;
            border-radius: 10px;
            padding: 70px;
            
            }

        .info .text {
            color: #1f2937;
            }

.background {
    background-color: #E5E7EB;
}

.testimonial {
   display: flex;
   flex-direction: column;
   max-width: 1000px;
   margin: 0 auto;
   padding: 100px;
}

    .quote {
        font-size: 36px;
        font-style:italic;
        color: #1F2937;
        margin: 0px;
        padding: 0;
        text-align: center;
        flex-shrink: 1;
    }

    .quote-source {
        align-self: flex-end;
        font-size: 36px;
        color: #1F2937;
        margin: 0;
        padding: 0;
    }

.cta {
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: baseline;
    max-width: 1000px;
    margin: 200px auto;
    border-radius: 10px;
    color: white;
}

    .text {
        font-size: 25px;
        margin: 40px auto 40px 100px;
        width: auto;
    }

    .text .text-head {
        font-weight: 800;
    }

.button button {
    color: white;
    background-color: transparent;
    border: solid white;
    border-radius: 8px;
    border-width: 2px;
    font-size: 20px;
    margin: 40px 40px auto 100px;
    flex-shrink: 0;
    width: 140px;
    padding: 8px 0;
    
    
}

.footer {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    padding: 30px;
}
