body {
}

.top-page {
    background-color: rgb(60, 60, 83);
    color: white;
}



.header {
    display: flex;
    padding: 20px;
}

    .logo {
        margin-left: 5%;
    }

    .links {
        margin-left: auto;
        margin-right: 5%;
    }

    a {
        text-decoration: none;
        color: white;
        margin: 10px;
    }

.front {
    border-width: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px;
    gap: 100px;
}

    .container {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        min-width: 300px;
        flex-shrink: 0;
    }

        h1 {
            font-size: 60px;
            margin: 0;
            padding: 0;
        }

        p{
            font-size: 20px;
        }

        .container button {
            align-self: flex-start;
            background-color: rgb(63, 115, 230);
            border-radius: 5px;
            border-color: rgb(63, 115, 230);
            color: white;
            width: 85px;
        }

    .front img {
        padding: 150px;
        background-color: rgb(214, 199, 199);
    }

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 100px;
    }

        .info {}

            .info img {
                border: solid blue;
                border-radius: 10px;
                padding: 70px;
                
            }

            .text {
                width: 200px;
            }

.testimonial {
    background-color: rgb(214, 199, 199);
}

    .quote {}

    .quote.source {}

.cta {}

    .text {}

    .text .text-head {}

.button {}

.footer {}
